#backfont{
    padding-top: 2%;
    margin: auto;
    text-align: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }

  #form{
    padding-top: 1%;
    margin: auto;
    text-align: center;
  }

  input {
    font-size: larger;
  }

  .navbar {
    border-style: solid;
    border-width: 1px;
    background-color: rgba(109, 202, 209, 0.795);
  }